@import "tailwindcss";

@theme {
  --color-brand-blue: #1a56db;
  --color-brand-red: #e02424;
  --color-brand-light-blue: #e1effe;
}

@layer base {
  body {
    background-color: theme('colors.gray.50');
    color: theme('colors.gray.800');
    font-family: 'Mukta', 'Hind Vadodara', sans-serif;
  }
}
